html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-size: $font-size-small;
    font-weight: 300;
    color: $grayishblue;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.3;
    min-height: 350vh;
    overflow-x: hidden;


    &.no-scroll {
        overflow: hidden;
    }

    @include desktop-version {
        font-size: $font-size-normal;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
}

.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--py {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt {
        padding-top: 1.5rem;
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 1.5rem;
    }
    &--pl {
        padding-left: 1.5rem;
    }

}

.flex {
    display: flex;
    &.jc-sb {
        justify-content: space-between;
    }
    &.jc-c {
        justify-content: center;
    }
    &.ai-c {
        align-items: center;
    }
}

button, .button {
    position: relative;
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to left, $brightcyan, $limegreen);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: $font-size-small;
    color: white;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.7;
    }

}

// Visibility
.hide-for-mobile {
     @include mobile-version {
         display: none;
     }
}
 
.hide-for-desktop {
     @include desktop-version {
         display: none;
     }
}

.has-fade {
    visibility: hidden;
}