// Colors
// Primary
$darkblue: hsl(233, 26%, 24%);
$limegreen: hsl(136, 65%, 51%);
$brightcyan: hsl(192, 70%, 51%);
// Neutral
$grayishblue: hsl(233, 8%, 62%);
$lightgrayishblue: hsl(220, 16%, 96%);
$verylightgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$linkgreen: rgba(48, 204, 118, 0.822);


// Font sizes
$font-size-normal: 1.125rem;
$font-size-small: 0.875rem;